.star-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
    flex-direction: column;
}
.star {
    color: red;
    margin-left: 5px;
    cursor: pointer;

}
.selected {
    color: aqua;
}